.flightformorg {
    text-align: center;
    color: #8EC5FC;
    background-color: #0A375D;
    font-weight: bold;
    border: 2px solid #0A375D;
    border-radius: 20px;
    margin: 15px;
    height: 325px;
    width: 425px;
    display: table;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flightlocationdiv {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
}