.locationinputwrapper {
    border: 2px solid #C4E1F3;
    border-radius: 20px;
    background-color: #8EC5FC;
    margin: 15px;
    height: 45px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locationcomponent {
    font-weight: bold;
    color: #0A375D;
    margin: 0.5rem 0.2rem;
}