.uploadsubmitbutton {
    border: 1px solid #0A375D;
    background-color: #308FDD;
    color: #fff;
    height: 50px;
    width: 180px;
    font-size: 1em;
    padding: 0px;
    line-height: 0px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    margin: 10px;
    transition: background-color 0.25s, color 0.25s;
}

.uploadsubmitbutton:hover {
    background-color: #0A375D;
}