li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.01s;

}

a:hover{
  color: #8EC5FC;
  cursor: pointer;
  transition: color 0.25s;
}

header {
  position: relative;
}

.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: horizontal;
  position: relative;
  background-color: #308FDD;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 20px;
}

.navbar .links {
  display: flex;
  gap: 2rem;
  padding: 0 20px;
}

section#hero {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #0A375D;
}

.home_buttons button {
  border: 1px solid #0A375D;
  background-color: #8EC5FC;
  color: #0A375D;
  height: 250px;
  width: 200px;
  font-size: 1.5em;
  padding: 0px;
  line-height: 0px;
  cursor: pointer;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  font-weight: bold;
  margin: 30px;
  transition: background-color 0.25s, color 0.25s;
}

.home_buttons button:hover {
  background-color: #308FDD;
  color: #fff;
}

#hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
